In [6]:
import pandas as pd

In [14]:
df = pd.read_csv('cardio_train.csv')
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
from sklearn.preprocessing import StandardScaler

In [17]:
scaler = StandardScaler()

df_standardized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df_standardized.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04,7.000000e+04
mean,1.299278e-17,5.272227e-16,-1.644399e-16,1.450116e-15,-2.905105e-16,7.623108e-17,1.745905e-17,1.381498e-16,-1.327700e-16,7.876874e-17,4.912895e-17,-8.414856e-17,5.684342e-17
std,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00,1.000007e+00
min,-1.732080e+00,-3.514407e+00,-7.331083e-01,-1.332014e+01,-4.460075e+00,-1.810381e+00,-8.841161e-01,-5.393221e-01,-3.957199e-01,-3.108791e-01,-2.383844e-01,-2.023607e+00,-9.994002e-01
25%,-8.653283e-01,-7.315341e-01,-7.331083e-01,-6.527630e-01,-6.394770e-01,-5.725127e-02,-8.823850e-02,-5.393221e-01,-3.957199e-01,-3.108791e-01,-2.383844e-01,4.941671e-01,-9.994002e-01
50%,1.007937e-03,9.489744e-02,-7.331083e-01,7.804703e-02,-1.532192e-01,-5.725127e-02,-8.823850e-02,-5.393221e-01,-3.957199e-01,-3.108791e-01,-2.383844e-01,4.941671e-01,-9.994002e-01
75%,8.636355e-01,7.531244e-01,1.364055e+00,6.870554e-01,5.414349e-01,7.261016e-02,-3.517999e-02,9.307354e-01,-3.957199e-01,-3.108791e-01,-2.383844e-01,4.941671e-01,1.000600e+00
max,1.733958e+00,1.720199e+00,1.364055e+00,1.043119e+01,8.738353e+00,1.031826e+02,5.785165e+01,2.400793e+00,3.099157e+00,3.216684e+00,4.194906e+00,4.941671e-01,1.000600e+00